Repository shiltemann/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: topic:admin, topic:adminq, admin, admin2, template-and-tools

Update tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
Labels: topic:admin, topic:adminq, admin

import nanopore slides from Milad
  CONTRIBUTORS.yaml
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Bandage.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Bandage_output.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Miniasm.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Minimap2.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/NanoPlot.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/NanoPlot_output.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/PlasFlow.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/QCcompare.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/QCcompare.svg
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Racon.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Screenshot from 2019-07-02 18-11-16.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Screenshot from 2019-07-02 18-40-51.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Screenshot from 2019-07-02 18-41-33.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/StarAmr.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/Workflow.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/bacterial_transformation.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/bandage_pre_unicycler.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/card_database.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/fastqc-lauf3-minknow-guppz.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/fastqc-lauf3-minknow.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/minion-laptop.jpg
  topics/metagenomics/images/plasmid-metagenomics-nanopore/plasmids.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/pore (copy).jpg
  topics/metagenomics/images/plasmid-metagenomics-nanopore/pore.jpg
  topics/metagenomics/images/plasmid-metagenomics-nanopore/pore2.jpg
  topics/metagenomics/images/plasmid-metagenomics-nanopore/protocols.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/setup.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/setup.svg
  topics/metagenomics/images/plasmid-metagenomics-nanopore/short-vs-long (copy).png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/short-vs-long.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/signal-annotated.jpg
  topics/metagenomics/images/plasmid-metagenomics-nanopore/signal.jpg
  topics/metagenomics/images/plasmid-metagenomics-nanopore/ssss.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/wick_benchmark.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/wick_benchmark_full.png
  topics/metagenomics/images/plasmid-metagenomics-nanopore/wouter_decoster_twitter.jpg
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/slides.html
Labels: template-and-tools

Reorganise slides, new images
  topics/sequence-analysis/images/pipeline-mapping.png
  topics/sequence-analysis/images/pipeline-mapping.svg
  topics/sequence-analysis/images/pipeline-quality.png
  topics/sequence-analysis/images/pipeline-quality.svg
  topics/sequence-analysis/images/pipeline-sequence.png
  topics/sequence-analysis/images/pipeline-sequence.svg
  topics/sequence-analysis/images/pipeline.png
  topics/sequence-analysis/images/pipeline.svg
  topics/sequence-analysis/images/quality-control/qc-nanopore.png
  topics/sequence-analysis/slides/extra.txt
  topics/sequence-analysis/slides/introduction.html
  topics/sequence-analysis/tutorials/mapping/slides.html
  topics/sequence-analysis/tutorials/quality-control/slides.html
Labels: none

make breakages less bad
  _plugins/jekyll-jsonld.rb
Labels: template-and-tools

move logos to bottom
  _layouts/home.html
Labels: template-and-tools

.github/labeler.yml:

topic:admin: 
  - topics/admin/**/*
"topic:adminq": 
  - topics/admin/**/*
admin: 
  - topics/admin/**/*
admin2: 
  - topics/admin/
template-and-tools:
  - bin/**/*
  - _includes/**/*
  - _layouts/**/*
  - _plugins/**/*
  - assets/**/*
  - ./*
